n8n_email_organization_agent_v2.json
{
  "name": "Email Organization Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-sheet-url",
              "name": "config_sheet_url",
              "value": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_HERE",
              "type": "string"
            },
            {
              "id": "mail-operator-url",
              "name": "mail_operator_url",
              "value": "https://your-n8n.com/webhook/mail-operator",
              "type": "string"
            },
            {
              "id": "todoist-url",
              "name": "todoist_url",
              "value": "https://your-n8n.com/webhook/todoist-create-task",
              "type": "string"
            },
            {
              "id": "limit",
              "name": "limit",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.config_sheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Categories",
          "mode": "name"
        },
        "options": {}
      },
      "id": "get-categories",
      "name": "Get Categories from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').item.json.config_sheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Key People",
          "mode": "name"
        },
        "options": {}
      },
      "id": "get-key-people",
      "name": "Get Key People from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [850, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.mail_operator_url }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "operation",
              "value": "get_unprocessed"
            }
          ]
        },
        "options": {}
      },
      "id": "call-get-unprocessed",
      "name": "Get Unprocessed Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.data && $json.data.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-emails-exist",
      "name": "Check Emails Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-emails",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "// Build classification prompt with categories and key people from sheets\nconst email = $input.first().json;\nconst categories = $('Get Categories from Sheet').all();\nconst keyPeople = $('Get Key People from Sheet').all();\n\n// Extract key people by role\nconst managers = keyPeople.filter(p => p.json.Role === 'Manager').map(p => p.json.Name).join(', ');\nconst directReports = keyPeople.filter(p => p.json.Role === 'Direct Report').map(p => p.json.Name).join(', ');\nconst collaborators = keyPeople.filter(p => p.json.Role === 'Collaborator').map(p => p.json.Name).join(', ');\n\n// Build categories list with rules\nconst categoriesText = categories.map((cat, idx) => {\n  const c = cat.json;\n  return `${idx} - ${c.Folder}\\n  Priority: ${c.Priority}\\n  Auto-flag: ${c.AutoFlag}\\n  Create task: ${c.CreateTask}\\n  Rules: ${c.Rules || 'N/A'}`;\n}).join('\\n\\n');\n\nconst prompt = `You are an email classifier for Josh Davis, Field CTO at Expedient.\n\n**Key People Context:**\n- Managers (HIGHEST PRIORITY): ${managers}\n- Direct Reports: ${directReports}\n- Key Collaborators: ${collaborators}\n\n**Role:** Field CTO responsible for pre-sales engineering, process, sales enablement, sales overlay\n\n**Email to Classify:**\nSubject: ${email.subject}\nFrom: ${email.sender}\nTo: ${email.to_recipients}\nCC: ${email.cc_recipients}\nBody Preview: ${email.body_preview}\n\n**Available Categories:**\n${categoriesText}\n\n**Your Task:**\nAnalyze this email and provide classification in the following JSON format:\n\n\\`\\`\\`json\n{\n  \"category_index\": 0,\n  \"reasoning\": \"Brief explanation\",\n  \"task_details\": {\n    \"title\": \"string\",\n    \"description\": \"string\",\n    \"due_date\": \"YYYY-MM-DD\" | \"tomorrow\" | \"in_2_days\",\n    \"priority\": \"high\" | \"medium\" | \"low\"\n  }\n}\n\\`\\`\\`\n\n**Classification Rules:**\n1. Match email content to category rules\n2. Consider sender priority (managers = highest)\n3. Extract actionable items for task creation\n4. Use category settings for flags and priority\n\nRespond ONLY with the JSON, no other text.`;\n\nreturn [{\n  json: {\n    ...email,\n    classification_prompt: prompt,\n    categories: categories,\n    key_people: keyPeople\n  }\n}];"
      },
      "id": "build-llm-prompt",
      "name": "Build Classification Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "content": "={{ $json.classification_prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 1000
        }
      },
      "id": "llm-classify",
      "name": "LLM - Classify Email",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1850, 200],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response and apply category settings\nconst llmResponse = $input.first().json.response;\nconst emailData = $input.first().json;\nconst categories = emailData.categories;\n\ntry {\n  let jsonText = llmResponse;\n  const jsonMatch = llmResponse.match(/```json\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    jsonText = jsonMatch[1];\n  }\n  \n  const classification = JSON.parse(jsonText);\n  const categoryIndex = classification.category_index;\n  const category = categories[categoryIndex].json;\n  \n  return [{\n    json: {\n      ...emailData,\n      classification: {\n        folder: category.Folder,\n        priority: category.Priority,\n        should_flag: category.AutoFlag === 'TRUE',\n        should_create_task: category.CreateTask === 'TRUE',\n        task_details: classification.task_details || null,\n        reasoning: classification.reasoning\n      }\n    }\n  }];\n} catch (error) {\n  // Fallback to safe defaults\n  return [{\n    json: {\n      ...emailData,\n      classification: {\n        folder: 'Review',\n        priority: 'medium',\n        should_flag: false,\n        should_create_task: false,\n        reasoning: 'Failed to parse: ' + error.message\n      }\n    }\n  }];\n}"
      },
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.mail_operator_url }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "operation",
              "value": "move_email"
            },
            {
              "name": "message_id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "folder",
              "value": "={{ $json.classification.folder }}"
            }
          ]
        },
        "options": {}
      },
      "id": "move-email",
      "name": "Move Email to Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.classification.should_flag }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-should-flag",
      "name": "Should Flag?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.mail_operator_url }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "operation",
              "value": "flag_email"
            },
            {
              "name": "message_id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "flag_status",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "flag-email",
      "name": "Flag Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2650, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.classification.should_create_task }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-should-create-task",
      "name": "Should Create Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2650, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.todoist_url }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.classification.task_details.title }}"
            },
            {
              "name": "description",
              "value": "=From: {{ $json.sender }}\\nSubject: {{ $json.subject }}\\n\\n{{ $json.classification.task_details.description }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.classification.task_details.priority === 'high' ? 4 : 3 }}"
            },
            {
              "name": "due_string",
              "value": "={{ $json.classification.task_details.due_date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-todoist-task",
      "name": "Create Todoist Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2850, 400]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.mail_operator_url }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "operation",
              "value": "mark_read"
            },
            {
              "name": "message_id",
              "value": "={{ $json.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-as-read",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3050, 200]
    },
    {
      "parameters": {},
      "id": "no-emails",
      "name": "No Emails to Process",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Schedule Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Categories from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories from Sheet": {
      "main": [
        [
          {
            "node": "Get Key People from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Key People from Sheet": {
      "main": [
        [
          {
            "node": "Get Unprocessed Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Emails": {
      "main": [
        [
          {
            "node": "Check Emails Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Emails Exist": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emails to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Build Classification Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classification Prompt": {
      "main": [
        [
          {
            "node": "LLM - Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Classify Email": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Move Email to Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Email to Folder": {
      "main": [
        [
          {
            "node": "Should Flag?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Flag?": {
      "main": [
        [
          {
            "node": "Flag Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Should Create Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Email": {
      "main": [
        [
          {
            "node": "Should Create Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create Task?": {
      "main": [
        [
          {
            "node": "Create Todoist Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todoist Task": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "2"
}
